<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFqrZ9Y7WmO9BK3RtncUq8Io6mB84XG4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>602725811426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.carcalendar</string>
	<key>PROJECT_ID</key>
	<string>drivelife-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>drivelife-messaging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602725811426:ios:83bf305147be07ca014abb</string>
</dict>
</plist>